<div class="col-sm-12 col-md-12 col-xl-12" *ngFor="let colaborador of colaList">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center pb-0" >
        <h5>ejemplo</h5>
      </div>
      <div class="card-body">
        <p class="mb-0">NOMBRE:{{colaborador.nombre}}</p>
        <p class="mb-0">APELLIDO PATERNO:{{colaborador.apellido_paterno}}</p>
        <p class="mb-0">APELLIDO MATERNO:{{colaborador.apellido_materno}}</p>
        <p class="mb-0">FECHA DE NACIMIENTO:{{colaborador.fecha_nacimiento}}</p>
        <p class="mb-0">NSS:{{colaborador.nss}}</p>
        <p class="mb-0">RFC:{{colaborador.rfc}}</p>
        <p class="mb-0">CORREO PERSONAL:{{colaborador.email_personal}}</p>
        <p class="mb-0">CORREO TELEFONO:{{colaborador.telefonos}}</p>
      </div>
      <app-modal></app-modal>
    </div>
</div>