<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>{{ titulo }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" > 
  <section class="intro">
    <div class="container">
      <h1>Nuestra historia</h1>
    </div>
  </section>
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>2010</time> Grupo AG fundado por Nelson Amparán y Karla Garzón como corporativo de consultoría y desarrollo ejecutivo.
        </div>
      </li>
      <li>
        <div>
          <time>2012</time> Inicia operaciones la unidad de negocios dUC (Desarrollo de Universidades Corporativas) que tiene como propósito implementar modelos de formación, educación y capacitación customizados a las organizaciones y empresas de México y el mundo.
        </div>
      </li>
      <li>
        <div>
          <time>2013</time>Se funda AG College una institución académica de modalidad 100% virtual de estudios de nivel medio superior (bachillerato) y superior (licenciaturas e ingenierías) bajo un modelo de customización a nuestros clientes.
        </div>
      </li>
      <li>
        <div>
          <time>2015</time> Se incorpora al Grupo la Universidad México Internacional fundada en 2004 como la institución oficial de estudios de nivel superior y posgrado.
        </div>
      </li>
      <li>
        <div>
          <time>2018</time>Nace AG College Social una iniciativa que fomenta el desarrollo académico en personas de escasos recursos y con alto potencial, financiada por Grupo AG.
        </div>
      </li>
      <li>
        <div>
          <time>2019</time> Se inicia la unidad de negocios eXR (Educación en Realidad Extendida) un modelo de desarrollo propio para la generación de experiencias de aprendizaje formales (cursos, diplomados, talleres) mediante modelos tridimensionales y realidad virtual.
        </div>
      </li>
      <li>
        <div>
          <time>2020</time> Grupo AG se transforma en Academia Global, un corporativo con un enfoque en la generación soluciones de problemas complejos en empresas de todo el mundo.
        </div>
      </li>
      <li>
        <div>
          <time>2020</time> Se funda Eartha Films. Productora de contenidos corporativos. Desarrollo del Concepto y Realización de convenciones, congresos, seminarios, así como producción de cortometrajes, cápsulas, debates, noticieros, entre otros.
        </div>
      </li>
      <li>
        <div>
          <time>2020</time> Nace la unidad de negocios CE & TP (Certificaciones Ejecutivas y Títulos Propios) como una solución a las necesidades específicas de quienes buscan desarrollar competencias de alta aplicabilidad, de manera ágil y con procesos de aprendizaje más técnicos, en un entorno en donde la especialización tiene una relación directa con la diferenciación en el mercado profesional.
        </div>
      </li>
    </ul>
  </section>
</div>