<div class="container-fluid">
    <div class="page-title">
        <div class="row">
        <div class="col-12 col-sm-6">
            <h3>{{ titulo }}</h3>
        </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-header">
                <h5>{{ titulo }}</h5>
            </div>
            <div class="card-body">
                <!-- Page grid builder start-->
                <div class="page-builder">
                <div id="myGrid">
                    <div class="row">
                    <div class="col-md-12">
                        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nesciunt quia, ipsa repellendus cum ut, provident id beatae, distinctio adipisci cupiditate recusandae. Sed aliquid, tempora ratione a illo excepturi delectus?
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>