<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>{{ titulo }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"> 
    <div class="row">

        <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
            <div class="card custom-card">
              <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
              <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
              <div class="text-center profile-details"><a href="user-profile.html">
                  <h4>Ernesto Torres</h4></a>
                <h6>Manager</h6>
              </div>
              <ul class="card-social">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
              </ul>
              <div class="card-footer row">
                <div class="col-4 col-sm-4">
                  <h6>Follower</h6>
                  <h3 class="counter">9564</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Following</h6>
                  <h3><span class="counter">49</span>K</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Total Post</h6>
                  <h3><span class="counter">96</span>M</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
            <div class="card custom-card">
              <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
              <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
              <div class="text-center profile-details"><a href="user-profile.html">
                  <h4>Leeroy Garcia</h4></a>
                <h6>Manager</h6>
              </div>
              <ul class="card-social">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
              </ul>
              <div class="card-footer row">
                <div class="col-4 col-sm-4">
                  <h6>Follower</h6>
                  <h3 class="counter">9564</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Following</h6>
                  <h3><span class="counter">49</span>K</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Total Post</h6>
                  <h3><span class="counter">96</span>M</h3>
                </div>
              </div>
            </div>
          </div>
          
        <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
            <div class="card custom-card">
              <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
              <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
              <div class="text-center profile-details"><a href="user-profile.html">
                  <h4>David Gonzalez</h4></a>
                <h6>Manager</h6>
              </div>
              <ul class="card-social">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
              </ul>
              <div class="card-footer row">
                <div class="col-4 col-sm-4">
                  <h6>Follower</h6>
                  <h3 class="counter">9564</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Following</h6>
                  <h3><span class="counter">49</span>K</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Total Post</h6>
                  <h3><span class="counter">96</span>M</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
            <div class="card custom-card">
              <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
              <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
              <div class="text-center profile-details"><a href="user-profile.html">
                  <h4>Armando Sánchez</h4></a>
                <h6>Manager</h6>
              </div>
              <ul class="card-social">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
              </ul>
              <div class="card-footer row">
                <div class="col-4 col-sm-4">
                  <h6>Follower</h6>
                  <h3 class="counter">9564</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Following</h6>
                  <h3><span class="counter">49</span>K</h3>
                </div>
                <div class="col-4 col-sm-4">
                  <h6>Total Post</h6>
                  <h3><span class="counter">96</span>M</h3>
                </div>
              </div>
            </div>
          </div>
          
            <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
                <div class="card custom-card">
                <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
                <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
                <div class="text-center profile-details"><a href="user-profile.html">
                    <h4>Monica Mejía</h4></a>
                    <h6>Manager</h6>
                </div>
                <ul class="card-social">
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
                </ul>
                <div class="card-footer row">
                    <div class="col-4 col-sm-4">
                    <h6>Follower</h6>
                    <h3 class="counter">9564</h3>
                    </div>
                    <div class="col-4 col-sm-4">
                    <h6>Following</h6>
                    <h3><span class="counter">49</span>K</h3>
                    </div>
                    <div class="col-4 col-sm-4">
                    <h6>Total Post</h6>
                    <h3><span class="counter">96</span>M</h3>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
                <div class="card custom-card">
                <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
                <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
                <div class="text-center profile-details"><a href="user-profile.html">
                    <h4>Adriana Hernández</h4></a>
                    <h6>Manager</h6>
                </div>
                <ul class="card-social">
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
                </ul>
                <div class="card-footer row">
                    <div class="col-4 col-sm-4">
                    <h6>Follower</h6>
                    <h3 class="counter">9564</h3>
                    </div>
                    <div class="col-4 col-sm-4">
                    <h6>Following</h6>
                    <h3><span class="counter">49</span>K</h3>
                    </div>
                    <div class="col-4 col-sm-4">
                    <h6>Total Post</h6>
                    <h3><span class="counter">96</span>M</h3>
                    </div>
                </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
              <div class="card custom-card">
              <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
              <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
              <div class="text-center profile-details"><a href="user-profile.html">
                  <h4>Jonathan Martínez</h4></a>
                  <h6>Manager</h6>
              </div>
              <ul class="card-social">
                  <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
              </ul>
              <div class="card-footer row">
                  <div class="col-4 col-sm-4">
                  <h6>Follower</h6>
                  <h3 class="counter">9564</h3>
                  </div>
                  <div class="col-4 col-sm-4">
                  <h6>Following</h6>
                  <h3><span class="counter">49</span>K</h3>
                  </div>
                  <div class="col-4 col-sm-4">
                  <h6>Total Post</h6>
                  <h3><span class="counter">96</span>M</h3>
                  </div>
              </div>
              </div>
          </div>    

          <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
            <div class="card custom-card">
            <div class="card-header"><img class="img-fluid" src="../assets/images/user-card/1.jpg" alt=""></div>
            <div class="card-profile"><img class="rounded-circle" src="../assets/images/avtar/3.jpg" alt=""></div>
            <div class="text-center profile-details"><a href="user-profile.html">
                <h4>Ramón Vazquez</h4></a>
                <h6>Manager</h6>
            </div>
            <ul class="card-social">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
            </ul>
            <div class="card-footer row">
                <div class="col-4 col-sm-4">
                <h6>Follower</h6>
                <h3 class="counter">9564</h3>
                </div>
                <div class="col-4 col-sm-4">
                <h6>Following</h6>
                <h3><span class="counter">49</span>K</h3>
                </div>
                <div class="col-4 col-sm-4">
                <h6>Total Post</h6>
                <h3><span class="counter">96</span>M</h3>
                </div>
            </div>
            </div>
        </div>    
    </div>
</div>